#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
background-color: transparent;
color: whitesmoke
}

header {
    height: 70px;
}

.view {
    display: none;
}

section {
    min-height: calc(100vh - 70px);
}

.view.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    border: 1px solid rgb(15, 154, 219);
    color: rgb(15, 154, 219);
    background-color: none;
}

.btn:hover {
    border: 1px solid rgb(0, 0, 32);
    background: rgb(15, 154, 219);
    color: rgb(0, 0, 32);
}

.nav-link,
.navbar-brand,
.navbar-toggler-icon {
color: whitesmoke !important;
}

.navbar {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    transition: all .3s ease-in-out;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.contact-box,
.project-cards,
.about-me,
.skills-card {
    background-color: rgb(0, 0, 32);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(15, 154, 219, 0.668);
    color: whitesmoke;
}

.list-group,
.list-group-item {
    background: transparent;
    position: relative;
    color: whitesmoke;
    z-index: 1;
    border-style: none;
}

.css-form {
    display:none;
}