/* TOKENS */
:root {
    --text-light: whitesmoke;
    --text-dark: rgb(0, 0, 32);
    --light-border: rgba(255, 255, 255, 0.17);
    --accent-blue: rgb(15, 154, 219);
    --accent-translucent: rgba(15, 154, 219, 0.668);
    --dark-translucent: rgba(15, 154, 219, 0.2);
    --background-color: #000020;

    --text-sm: clamp(0.95rem, 2vw, 1.2rem);
    --text-base: clamp(1.1rem, 2.5vw, 1.5rem);
    --text-lg: clamp(1.3rem, 3vw, 2rem);
    --text-xl: clamp(1.5rem, 4vw, 2.5rem);
    --text-hero: clamp(1.8rem, 5vw, 3rem);
}

/* INTERACTIVE BACKGROUND */
#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* GENERAL */
body {
background-color: transparent;
color: var(--text-light);
}

.view {
    display: none;
}

section {
    min-height: calc(100vh - 70px);
}

.view.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 0;
}

/* TEXT SIZES */
h1 {
font-size: var(--text-hero);
}

h2 {
font-size: var(--text-xl);
}

h3 {
font-size: var(--text-lg);
}

p, li {
font-size: var(--text-base);
}

/* HEADER AND NAV */
header {
    height: 70px;
}

.nav-link,
.navbar-brand,
.navbar-toggler-icon {
color: var(--text-light) !important;
}

.nav-link:hover {
    cursor: pointer;
    background-color: var(--dark-translucent);
    border-radius: 10px;
}

.nav-link.nav-active {
    background-color: var(--dark-translucent);
    border-radius: 10px;
}

.navbar {
    backdrop-filter: blur(3px);
    border-bottom: 1px solid var(--light-border);
    box-shadow: 1px 8px 15px var(--light-border);
    -webkit-backdrop-filter: blur(3px);
    transition: all .3s ease-in-out;
}

/* BUTTONS AND LINKS */
.btn, .lang-btn {
    border: 1px solid var(--accent-blue);
    color: var(--accent-blue);
    background-color: none;
    backdrop-filter: blur(3px);
    font-size: var(--text-sm);
    box-shadow: 0 0 15px var(--accent-translucent);
}

.btn:hover {
    border: 1px solid var(--text-dark);
    background-color: var(--accent-translucent);
    color: var(--text-dark);
}

.project-link {
    font-size: var(--text-sm);
    color: var(--accent-blue);
}

/* CONTENT */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.contact-box,
.project-cards,
.about-me,
.skills-card {
    background-color: var(--text-dark);
    border-radius: 20px;
    box-shadow: 0 0 15px var(--accent-translucent);
    color: var(--text-light);
}

.list-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group,
.list-group-item {
    background: transparent;
    position: relative;
    color: var(--text-light);
    border-style: none;
}

.list-group-item {
    background-color: var(--dark-translucent);
    width: fit-content;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}

/* FORM */
.css-form {
    display:none;
}

/* MEDIA QUERY */
@media (max-width: 991px) {
    .navbar {
        backdrop-filter: blur(15px);
    }
}